---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import { getTag, getTagLabel } from "../tags";

type Props = CollectionEntry<"articles">["data"];

const { title, locale, tags } = Astro.props;
---

<Layout title={title}>
  <article>
    <h1>{title}</h1>
    <slot />
    <ul class="tags">
      {
        tags?.map((tag) => (
          <li>
            <a href={`/${locale}/tags/${tag?.toLowerCase()}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </article>
</Layout>

<style lang="scss">
  article {
    background-color: var(--color-fg);
    color: var(--color-black);
    padding: 2.5em;
    border-radius: 2em;
    font-size: 1.2rem;
    line-height: 1.66em;
  }

  .tags {
    list-style: none;
    padding: 0;
    margin-top: 2em;

    & > li {
      display: inline-block;
      margin: 0.2em;

      & > a {
        font-size: 1rem;
        background-color: peachpuff;
        padding: 0.33em;
        text-decoration: none;
        color: var(--color-black);
        border: 2px solid palevioletred;
        border-radius: var(--handdrawn-border-radius);
      }
    }
  }
</style>
