---
import { getLangFromUrl, useTranslations } from "../i18n";
import "../styles/global.scss";
export interface Props {
  title: string;
}

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <nav class="main-nav">
      <ul>
        <li>
          <a class="outlined" href={`/${locale}/goals`}>{t("nav.goals")}</a>
        </li>
        <li>
          <a class="outlined" href={`/${locale}/articles/`}>{t("nav.articles")}</a>
        </li>
        <li>
          <a class="outlined" href={`/${locale}/questions`}>{t("nav.questions")}</a>
        </li>
        <li>
          <a class="outlined" href={`/${locale}/about`}>{t("nav.about")}</a>
        </li>
        <li>
          <a class="outlined" href="https://forms.office.com/e/W8YRJ5TaAQ">{t("nav.feedback")}</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
