---
import { MainNav } from "../components/MainNav";
import { getLangFromUrl } from "../i18n";
import "../styles/global.scss";
import logo from "../../public/images/logo.svg";
export interface Props {
  title: string;
}

const { title } = Astro.props;
const locale = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="logo.svg" />
    <meta name="theme-color" content="#1C4A2B" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-stiftung-800 text-amber-200 min-h-screen gap-5 flex flex-col">
    <header class="lg:hidden">
      <details>
        <summary class="flex justify-end p-2 h-20">
          <img src={logo.src} class="block h-full cursor-pointer" />
        </summary>
        <div id="menu-wrapper" class="h-screen w-screen fixed bg-stiftung-800/50 backdrop-blur z-40">
          <MainNav locale={locale} />
        </div>
      </details>
    </header>
    <div class="flex flex-grow gap-4 max-w-screen-2xl mx-auto">
      <main data-pagefind-body class="p-5 flex-grow w-full">
        <slot />
      </main>
      <aside class="w-96 hidden lg:block"><MainNav locale={locale} /></aside>
    </div>
  </body>
</html>
